
@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Thin.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Light.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Regular.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Extended.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-Italic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Medium.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Bold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyItalic.TTF') format('truetype');
}
