
@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Thin.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Light.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Regular.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Extended.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-Italic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Medium.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Bold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-Heavy.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Curly Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermCurlySlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermCurlySlab-ExtendedHeavyItalic.ttf') format('truetype');
}
